# Env
.env
.env.*
!.env.example

# Rust
target/
**/*.rs.bk

# JS/TS
node_modules/
dist/
.next/
.nuxt/
.output/
*.tsbuildinfo

# WASM
**/*.wasm

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Claude
.claude/

